@use '../variables' as v;

.bottom-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;

    p{
        font-size: 15px;
        color: v.$Dark-grayish-blue;
    }

    @media (max-width: v.$size-screen) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        #card-01{
            grid-column: 1;
            grid-row: 1;
        }

        #card-02{
            grid-column: 2;
            grid-row: 1;
        }

        #card-03{
            grid-column: 1;
            grid-row: 2;
        }
    }

    @media (max-width: v.$size-screen-2) {
        display: flex;
        flex-direction: column;
    }
}